<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwindy.web.mapper.CommentMapper">
	<resultMap type="Comment" id="CommentResult">
		<id 	property="id" 		column="id"/>
		<result property="userId" 	column="user_id"/>
		<result property="username" column="username"/>
		<result property="newsId" 	column="news_id"/>
		<result property="userIP" 	column="user_ip"/>
		<result property="content" 	column="comment_content"/>
		<result property="datetime" column="datetime"/>
	</resultMap>
	
	<resultMap type="Comment" id="CommentNewsResult" extends="CommentResult">
		<association property="news"
			javaType="News"
			column="news_id"
			select="com.xwindy.web.mapper.NewsMapper.getNewsById" />
	</resultMap>
	
	<select id="getCommentById"
		resultMap="CommentResult">
		SELECT news_comment.*, plate_users.username
		FROM news_comment
		LEFT JOIN plate_users ON news_comment.user_id = plate_users.id
		WHERE news_comment.id = #{id}
	</select>
	
	<select id="getCommentListByNewsId"
		resultMap="CommentResult"
		useCache="true">
		SELECT news_comment.*, plate_users.username
		FROM news_comment
		LEFT JOIN plate_users ON news_comment.user_id = plate_users.id
		WHERE news_id = #{newsId}
	</select>
	
	<select id="getAllCommentListByPage"
		resultMap="CommentNewsResult">
		SELECT news_comment.*, plate_users.username
		FROM news_comment
		LEFT JOIN plate_users ON news_comment.user_id = plate_users.id
		<include refid="pageLimitSql"></include>
	</select>
	
	<insert id="addComment"
		parameterType="Comment"
		useGeneratedKeys="true"
    	keyProperty="id">
		INSERT INTO news_comment
		(user_id, news_id, user_ip, comment_content, datetime)
		VALUES
		(#{userId}, #{newsId}, #{userIP}, #{content} ,#{datetime})
	</insert>
	
	<delete id="deleteCommentById">
		DELETE FROM news_comment WHERE id = #{id}
	</delete>
	
	<select id="getCommentNumByNewsId"
		resultType="int">
		SELECT COUNT(0)
		FROM news_comment
		WHERE news_id = #{newsId}
	</select>
	
	<select id="getCommentNumByUserId"
		resultType="int">
		SELECT COUNT(0)
		FROM news_comment
		WHERE user_id = #{userId}
	</select>
	
	<update id="toggleCommentState">
		UPDATE news_comment
		SET state = #{toState}
		WHERE id = #{id}
	</update>
	
	
	<sql id="pageLimitSql">
		<if test="pageNo != null">
			LIMIT ${((pageNo-1) * pageSize)}, ${pageSize}
		</if>
	</sql>
</mapper>