<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwindy.web.mapper.LogMapper">
	<insert id="addLog"
			parameterType="Log"
			useGeneratedKeys="true"
			keyProperty="id">
			INSERT INTO `log`
			(id, user_id, user_ip, content, datetime)
			VALUES
			(#{id}, #{userId}, #{userIp}, #{content}, #{datetime})
	</insert>
</mapper>