<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwindy.web.mapper.LogMapper">

	<resultMap type="Log" id="LogResult">
		<id property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="datetime" column="datetime" />
		<result property="content" column="content" />
		<result property="userIp" column="user_ip" />
		<association property="user"
			javaType="User"
			column="user_id"
			select="com.xwindy.web.mapper.UserMapper.getUserById" />
	</resultMap>
	
	<select id="getLogListByPage"
		resultMap="LogResult">
		SELECT * FROM `log`
		ORDER BY id DESC
		LIMIT ${((pageNo-1) * pageSize)}, ${pageSize}
	</select>
	
	<insert id="addLog"
		parameterType="Log"
		useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO `log`
		(id, user_id, user_ip, content, datetime)
		VALUES
		(#{id}, #{userId}, #{userIp}, #{content}, #{datetime})
	</insert>
	
	<select id="getLogTotalNum"
		resultType="int">
		SELECT COUNT(0)
		FROM `log`
	</select>
</mapper>