<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwindy.web.mapper.LostAndFoundMapper">

	<resultMap type="LostAndFound" id="LostAndFoundResult">
		<id property="id" column="id" />
		<result property="sendId" column="send_id"/>
		<result property="sendIp" column="send_ip"/>
		<result property="type" column="type"/>
		<result property="local" column="local"/>
		<result property="keyWord" column="key_word"/>
		<result property="sendTime" column="send_time"/>
		<result property="content" column="content"/>
		<result property="picUrl" column="pic_url"/>
		<result property="phone" column="phone"/>
		<result property="status" column="status"/>
		<association property="sendUser"
			javaType="User"
			column="send_id"
			select="com.xwindy.web.mapper.UserMapper.getUserById" />
	</resultMap>
	
	<select id="getAllLostAndFoundByPage"
		resultMap="LostAndFoundResult">
		SELECT * FROM lost_and_found
		ORDER BY id DESC
		<include refid="pageLimitSql" />
	</select>
	
	<select id="getLostAndFoundListByPublicIdAndPage"
		resultMap="LostAndFoundResult">
		SELECT * FROM lost_and_found
		WHERE send_id = #{publicId}
		ORDER BY id DESC
		<include refid="pageLimitSql" /> 
	</select>
	
	<select id="getLostAndFoundById"
		resultMap="LostAndFoundResult">
		SELECT * FROM lost_and_found
		WHERE id = #{id}
		ORDER BY id DESC
	</select>
	
	<select id="searchLostAndFoundByKeyWordAndPage"
		resultMap="LostAndFoundResult">
		SELECT * FROM lost_and_found
		WHERE key_word LIKE '%${keyWord}%' OR content LIKE '%${keyWord}%'
		ORDER BY id DESC
		<include refid="pageLimitSql" />
	</select>
	
	<insert id="addLostAndFound"
		parameterType="LostAndFound"
		useGeneratedKeys="true"
		keyColumn="id">
		INSERT INTO lost_and_found
		(send_id, send_ip, type, `local`, key_word, send_time, content, pic_url, phone, `status`)
		VALUE
		(#{sendId}, #{sendIp}, #{type}, #{local}, #{keyWord}, #{sendTime}, #{content}, #{picUrl}, #{phone}, 1)
	</insert>
	
	<update id="updateLostAndFound"
		parameterType="LostAndFound">
		UPDATE lost_and_found
		SET `local` = #{local}, key_word = #{keyWord}, content = #{content},
		pic_url = #{picUrl}, phone = #{phone}, `status` = #{status}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteLostAndFoundById">
		DELETE FROM lost_and_found
		WHERE id = #{id}
	</delete>
	
	<sql id="pageLimitSql">
		<if test="pageNo != null">
			LIMIT ${((pageNo-1) * pageSize)}, ${pageSize}
		</if>
	</sql>
</mapper>