<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xwindy.web.mapper.NewsMapper">

	<cache  flushInterval="100000"/>
	
	<resultMap type="News" id="NewsResult">
		<id 	property="id" column="id" />
		<result property="publicId" 	column="public_id" />
		<result property="publicIP" 	column="public_ip" />
		<result property="title" 		column="title" />
		<result property="content" 		column="content" />
		<result property="url" 			column="url_from" />
		<result property="datetime" 	column="datetime" />
		<result property="push" 		column="push" />
		<result property="clickNum" 	column="click" />
		<result property="commentNum" 	column="comment_number" />
		<result property="state" 		column="state" />
		<association property="publicer"
			javaType="Publicer"
			column="public_id"
			select="com.xwindy.web.mapper.UserMapper.getPublicerById" />
	</resultMap>
	
	<resultMap type="News" id="NewsAndCommentResult" extends="NewsResult">
		<collection property="commentList"
			ofType="Comment"
			javaType="arrayList"
			column="id"
			select="com.xwindy.web.mapper.CommentMapper.getCommentListByNewsId" />
	</resultMap>
	
	<select id="getNewsListByPage"
		resultMap="NewsResult">
		SELECT * FROM news
		ORDER BY id DESC
		<include refid="pageLimitSql" />
	</select>
	
	<select id="getNewsPushListByPage"
		resultMap="NewsResult">
		SELECT * FROM news
		WHERE push != 0
		ORDER BY id DESC
		<include refid="pageLimitSql" />
	</select>
	
	<select id="getNewsListByUserIdAndPage"
		resultMap="NewsResult">
		SELECT * FROM user_subscribe_news_view
		WHERE user_id = #{userId}
		ORDER BY id DESC
		<include refid="pageLimitSql" />
	</select>
	
	<select id="getNewsListByPublicIdAndPage"
		resultMap="NewsResult">
		SELECT * FROM news_and_public_view
		WHERE public_id = #{publicId}
		ORDER BY id DESC
		<include refid="pageLimitSql" />
	</select>
	
	<select id="getNewsById"
		parameterType="int"
		resultMap="NewsResult">
		SELECT * FROM news_and_public_view
		WHERE id = #{id}
	</select>
	
	<select id="getNewsAndCommentById"
		resultMap="NewsAndCommentResult">
		SELECT * FROM news
		WHERE id = #{id}
	</select>
	
	<update id="addClickNumberById"
		parameterType="int"
		flushCache="false">
		UPDATE news
		SET click = click + 1
		WHERE id = #{id} 
	</update>
	
	<update id="toggleNewsState">
		UPDATE news
		SET state = #{toState}
		WHERE id = #{id}
	</update>
	
	<insert id="addNews"
		parameterType="News">
		INSERT INTO news
		(public_id, public_ip, title, content, datetime, url_from, push)
		VALUES
		(#{publicId}, #{publicIP}, #{title}, #{content}, #{datetime}, #{url}, #{push})
	</insert>
	
	<update id="updateNews"
		parameterType="News">
		UPDATE news
		SET title = #{title}, content = #{content}, url_from = #{url}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteNewsById"
		parameterType="int">
		DELETE FROM news
		WHERE id = #{id}
	</delete>
	
	<select id="getNewsNumByPublicId"
		resultType="int">
		SELECT COUNT(0) FROM news
		WHERE public_id = #{publicId}
	</select>
	
	<select id="getLastNewsTimeByPublicId"
		resultType="String">
		SELECT datetime FROM news
		WHERE public_id = #{publicId}
		ORDER BY id DESC
		LIMIT 0, 1
	</select>
	
	<select id="getNewsTotalNum"
		resultType="int">
		SELECT COUNT(0) FROM news
	</select>
	
	<select id="getNewsPushNum"
		resultType="int">
		SELECT COUNT(0) FROM news
		WHERE push != 0
	</select>
	
	<sql id="pageLimitSql">
		<if test="pageNo != null">
			LIMIT ${((pageNo-1) * pageSize)}, ${pageSize}
		</if>
	</sql>
</mapper>